.app-window{
    position:fixed;
    display:flex;
    flex-direction:column;
    background: #d4d0c8;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #404040;
    border-bottom: 2px solid #404040;
    min-width:200px;
    min-height:120px;
    overflow:hidden;
}

.app-window.is-minimized{
    display:none;
}

.win-titlebar{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px 3px;
    height: 22px;
    flex-shrink: 0;
    cursor: default;
    user-select: none;
}

.app-window.is-active .win-titlebar{
    background: #000080;
    color: #ffffff;
}

.app-window:not(.is-active) .win-titlebar{
    background: #808080;
    color: #d0d0d0;
}

.win-drag-handle{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    height:100%;
    cursor:move;
    overflow: hidden;
}

.win-tirlebar-icon{
    width:14px;
    height:14px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.win-title{
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.win-controls{
    display: flex;
    gap:2px;
    flex-shrink: 0;
}

.win-ctrl-btn{
    width:16px;
    height: 14px;
    font-size: 9px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#d4d0c8;
    color:#000;
    border-top:1px solid  #fff;
    border-left:1px solid #fff;
    border-right:1px solid  #404040;
    border-bottom:1px solid  #404040;
    cursor: pointer;
    padding: 0;
}

.win-ctrl-btn:active{
     border-top: 1px solid #404040;
     border-left: 1px solid #404040;
     border-right: 1px solid #fff;
     border-bottom: 1px solid #fff;
}

.win-ctrl-btn.close:hover{
    background: #c04040;
    color: #fff;
}

.win-menubar{
    display:flex;
    align-items: center;
    padding: 0 2px;
    height: 20px;
    background: #d4d0c8;
    border-bottom: 1px solid #808080;
    flex-shrink: 0;
    gap: 0;
}